.page {
  margin: 0;
}
.container {
  display: flex;
  flex-grow: 1;
  margin: 0 auto;
  justify-content: center;
  margin-top: 40px;
}
.header {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.navigation {
  margin: 0;
  padding: 0;
  background-color: #6A99CF;
  display: flex;
  justify-content: center;
  border-bottom: 4px solid #AFCBF1;
  list-style-type: none;
}
.navigation__link {
  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding: 1.2rem;
}
.navigation__link:hover:before {
  content: ' ';
  position: absolute;
  top: 100%;
  left: calc(35%);
  border: 15px solid transparent;
  border-top: 10px solid #AFCBF1;
}
.navigation__link:hover:after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 40%;
  border: 10px solid transparent;
  border-top: 6px solid #6A99CF;
}
.content {
  margin-right: 20px;
}
.post {
  display: flex;
  width: 640px;
  flex-direction: column;
  margin-bottom: 10px;
  color: #727171;
}
.post__header {
  margin: 5px 0;
  font-family: 'Josefin Sans', sans-serif;
}
.post__separator {
  margin: 0;
}
.post__para {
  text-align: justify;
  font-family: 'PT Sans Narrow', sans-serif;
  margin: 0;
}
.post__loader {
  width: 50px;
  height: 50px;
  margin: 100px auto;
  border: 5px solid #6194C0;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: spin 2s linear infinite;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info__item {
  display: flex;
  align-items: center;
}
.info__item-icon {
  height: 16px;
  width: 14px;
  margin: 0 5px;
  fill: #727171;
}
.info__item-text {
  font-size: 14px;
  font-family: 'PT Sans Narrow', sans-serif;
}
.socials {
  display: flex;
  margin: 0;
}
.socials__item {
  box-sizing: border-box;
  margin: 5px;
  background-color: #D2DAE3;
  border-radius: 3px;
  transition: all .3s;
}
.socials__item-icon {
  height: 20px;
  width: 20px;
  fill: #fff;
  position: relative;
  top: 4px;
}
.socials__item-counter {
  color: #fff;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 17px;
  margin-right: 5px;
}
.socials__item--facebook:hover {
  background-color: #44619D;
  cursor: pointer;
}
.socials__item--gplus:hover {
  background-color: #DB4437;
  cursor: pointer;
}
.socials__item--twitter:hover {
  background-color: #41ABE1;
  cursor: pointer;
}
.socials__item--vk:hover {
  background-color: #507299;
  cursor: pointer;
}
.socials__item--yaru:hover {
  background-color: red;
  cursor: pointer;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.aside {
  display: flex;
  flex-direction: column;
  width: 270px;
}
.aside-section {
  margin-bottom: 20px;
}
.aside-section__title {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  border-bottom: 10px solid #6194C0;
  color: #6194C0;
  font-size: 20px;
  margin: 0;
}
.aside-section__title:before {
  background-color: #6194C0;
  padding: 0 10px;
  color: #fff;
  margin-right: 20px;
}
.aside-section__title--about:before {
  content: "?";
}
.aside-section__title--stuff:before {
  content: "!";
}
.aside-section__para {
  font-family: 'PT Sans Narrow', sans-serif;
  margin: 10px 0;
  color: #727171;
  text-align: justify;
}
.tags {
  list-style-type: none;
  padding: 0;
}
.tags__item {
  background-color: #6194C0;
  display: inline-block;
  position: relative;
  padding: 0 10px;
}
.tags__item:before {
  content: ' ';
  border: 10px solid transparent;
  border-left: 10px solid #6194C0;
  position: absolute;
  left: 100%;
}
.tags__item:after {
  content: '•';
  color: #fff;
  font-size: 20px;
  position: absolute;
  left: 90%;
}
.tags__item-link {
  text-transform: capitalize;
  color: #fff;
  font-family: 'PT Sans Narrow', sans-serif;
}
