html, body {
    margin: 0;

}

.header {
    display: flex;
    flex-direction: column;
}

.logo__container {
    display: flex;
    height: 70px;
}

.logo__link {
    margin: auto;
}

.navigation__container {
    background-color: #6A99CF;
    display: flex;
    border-bottom: 4px solid #AFCBF1;
}

.navigation-items__list {
    padding: 0;
    display: flex;
    margin: auto;
    list-style-type: none;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
.navigation-item__container {
    position: relative;
    display: flex;
}
.navigation-item__container:before {
    content: ' ';
    position: absolute;
    top: 100%;
    left: calc(50% - 5px);
    border: 15px solid transparent;
    border-top: 10px solid #AFCBF1;
    

}
.navigation-item__container:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    border: 10px solid transparent;
    border-top: 6px solid #6A99CF;

}


.navigation-item__inputs {
    text-decoration: none;
    color: #fff;
    padding: 1.2rem;
}

.container {
    display: flex;
    flex-grow: 1;
    margin: 0 auto;
    justify-content: center;
    margin-top: 40px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.content {
    margin-right: 20px;
}

.post {
    display: flex;
    width: 640px;
    flex-direction: column;
    margin-bottom: 10px;
}

.post__header {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.share-post__container {
    display: flex;
    margin: 0;
    
}
.share-post__item {
    font-size: 25px;
    margin: 0 10px;
}
.post-loader {
	width: 50px;
	height: 50px;
	margin: 100px auto;
	border: 5px solid #6194C0;
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	100%{ transform: rotate(360deg);}
}

.aside {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.aside-article__caption-container {
    background-color: #6194C0;
    display: flex;
    height: 40px;
}

.aside-article__icon {
    font-weight: bold;
    font-size: 22px;
    margin: 0 15px;
    color: #fff;
}
.aside-article__caption {
    margin: 0;
    align-self: flex-start;
    flex-grow: 1;
    background-color: #fff;
    padding-left: 10px;
    text-transform: uppercase;
    color: #6194C0;
    letter-spacing: 3px;
}

.aside-tag {
    background-color: #6194C0;
    display: inline-block;
    position: relative;
    height: 20px;
    margin: 2px 5px;;
}
.aside-tag__text {
    text-transform: capitalize;
    color: #fff;
    margin: 0 10px;
}

.aside-tag:before {
    content: ' ';
    border: 10px solid transparent;
	border-left: 10px solid #6194C0;
    position: absolute;
    left: 100%;
}

.aside-tag:after {
    content: '•';
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: -15%;
    left: 90%;
}